.main{
    background-image: url('./images//login-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.uk-card {
    border-radius: 5 ;
    margin-top:11em;
    background-color:#5d717b;
    border-radius:5px;
    width:400px;
  
}


.uk-input{
width:300px;
border-radius: 4px;
color:black;
background: white;
border:1px solid white;
}


.uk-checkbox{
 margin-left:1em ;
 background-color:white;
 border:1px solid white;
}

.uk-checkbox :checked:after{
 border-color:1px solid white;
 background-color:white;
}

.link{
    color:white;
    font-size:0.9em;
    font-weight: 400 ;
}


.uk-button {
   margin-top: 3em;
   width: 100%;
   background:#ff6d41;
   color: white;
   border-radius: 4px;
   border:1px solid #ff6d41;   
}


.uk-button:hover{
  filter: brightness(0.9);
  background-color: #ff693f;
}


@media screen and (max-width:680px){
    .uk-card{
        margin-top:22em;
        width:300px;
    }
    
}